body{
	background-color: black;
	color:white;
}

#searchButton{
	background-color:limegreen;
	color:white;

}

.newgif{
	background-color:white;
	float:left;
	color:black;
}

#gifs-go-here{
	background-color:black;
	float:left;
	border-color:white;
}

.giff{
	background-color: limegreen;
	float:left;
	color:white;
}