body{
	background-color: black;
	color:white;
}
.Searchbar{
	align-self: 

}
#searchButton{
	background-color:limegreen
	color:white;

}

.newgif{
	background-color:white;
	color:black;
}

#gifs-go-here{
	background-color:black;
	border-color:white;
}

.giff{
	background-color: limegreen;
	color:white;
}